
/* Your CSS Code here. */
table{
	border:1px solid black;
	border-style:none;
	border-collapse:collapse;
	width:100%;
}

#heading{
	text-align:left;
	background-color:pink;
}

.right{
	text-align:right;
}

#tr1{
	background-color:yellow;
}

#tr2{
	background-color:orange;
}

#tr3{
	background-color:limegreen;
}

